/**--CREATIVE9 CSS - MAIN--**/

body, html{
    width:100%;
    height:auto;
    font-family: 'Nunito', sans-serif;
    font-size:11px;
    background-color:white;
    padding:5px 0px;
}

.C9_wrapper{
    margin: auto;
    position: relative;
    width: 97%;
    height:100%;
    padding:0px 5px;
}


.nav_wrapper{
    width:110px;
    padding:0 2% 0 0;
    position: fixed;
    right: 0;
    text-align:right;
    list-style: none;
    line-height: 33px;
    z-index:2;
}

a{
    color:black;
    text-decoration: none;
}

.content_wrapper{
    clear:both;
    height:100%;
}

.social_media{
    width: 40px;
    height: 150px;
    right:0;
    bottom:0;
    position:fixed;
    text-align: center;
    margin-right:15px;
}

.social_media img{
    width:2em;
    margin-top:2em;
}
/*****************/
/***CONTENT CSS***/
/*****************/

.page_title{
    width:20%;
    float:left;
    padding-top:1%;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2{
    font-size:15px;
    font-weight:800;
    text-transform: uppercase;
    padding:5px 0;
    letter-spacing: 3px;
}

/*****************/
/****FOOTER CSS***/
/*****************/

footer{
    font-size:10px;
    margin: auto;
    position: relative;
    width: 97%;
    padding:5px;
    bottom:0;
    text-align: center;
    clear:both;
}